@import "src/asstets/global/_mixins";

.klNav {
  @include container-bg-max-width;
  &__avatar {
    width: 50px;
    height: 50px;
  }

  &__links {
    svg {
      font-size: 24px;
    }
  }

  &__mern {
    @include mobile-small {
      width: 100%;
      padding-bottom: 1em;
      justify-content: center;
    }
  }

  &__react {
    @include rotate-animation;
  }

  &__home:hover {
    @include color-change-animation;
  }
}
