@import "src/asstets/global/_mixins";
@import "src/asstets/global/_variables";

.klRow {
  &__form {
    @include default-max-width;
  }

  &__layout {
    position: relative;
  }

  &__icon {
    @include cover-layout;
    opacity: 0;
    transition: opacity 0.5s;
    &:hover {
      opacity: 1;
      fill: darkred;
      cursor: pointer;
    }
  }
}
